@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-backgroundLight text-textLight dark:bg-backgroundDark dark:text-textDark;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Global hover effects */
.hover-grow:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.hover-lift:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

.hover-underline-animated {
  display: inline-block;
  position: relative;
}

.hover-underline-animated::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: theme('colors.primary');
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animated:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}